header {
    width: 100%;
    background-color: #c4c4c4;
    height: 50px;
    
    > h1 {
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        font-size: 48px;
        font-weight: bold;
    }

}